<form [formGroup]="testCase" class="w-full flex flex-col p-1 gap-1">

        <div>
            <button 
            (click)="open=!open"
            class="focus:outline-none font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </button><span><jhotest-text-input [control]="name" class="" /></span>
        </div>

    <div *ngIf="open" class="flex flex-col gap-2 p-2">
        <h5>Valores</h5>

        <jhotest-query-params-table [query]="parameters.value" (jhochange)="parameters=$event" />
        <p>Cumple el caso de uso?</p>

        <div class="flex gap-4 pl-3">
            <label>si
                <input
                class="cursor-pointer" [formControl]="passed" type="radio" [name]="'case'+idx" [value]="true" />
            </label>
            <label>no
                <input  class="cursor-pointer" [formControl]="passed" type="radio" [name]="'case'+idx" [value]="false" />
            </label>
        </div>
    </div>

</form>