<form [formGroup]="testCase" class="w-full flex flex-col gap-2 p-2">

    <div>{{idx+1+'.-'}} <span><jhotest-text-input [control]="name" class="font-semibold" /></span>
    </div>
    <h5>Valores</h5>

    <jhotest-query-params-table 
    [query]="parameters.value"
    (jhochange)="parameters=$event"
    />
    <p>Cumple el caso de uso?</p>

    <div class="flex gap-4 pl-3">
        <label>si
            <input [formControl]="passed" type="radio" [name]="'case'+idx" [value]="true" />
        </label>
        <label>no
            <input [formControl]="passed" type="radio" [name]="'case'+idx" [value]="false" />
        </label>
    </div>

</form>