
<figure class="flex gap-2 flex-col w-44">
    <div
        class=" h-28 flex items-center justify-center text-6xl text-white text-center bg-[#FB00C4]">
        BE
    </div>
    <div class="flex justify-between">

        <div>
            <p class="leading-none">{{checklist.name}}</p>
            <p class="text-[10px] leading-none text-zinc-700">lasted update yesterday</p>
        </div>

        <figure class="flex items-center justify-center w-[30px]">
            <span class="rounded-[50%] shrink-0 h-[9px] w-[9px] bg-[#45FC78]"></span>
        </figure>

    </div>
    <div class="flex gap-2 h-7 text-sm">
        <button [routerLink]="'checklist/'+checklist.id"
        queryParamsHandling="merge"
            class="bg-[#F1F1F1 font-semibold] w-14 shadow-md">abrir</button>
        <button (click)="delete.emit(checklist.id)"
            class="bg-[#FF5656] w-16  text-white shadow-md">
            eliminar
        </button>
    </div>
</figure>