.animate-item{

  transition: all 300ms;

}

.animate-item:hover{

    background-color: #f2f2f2;
}


.side-item {

    display: inline-grid;
    align-items: center;
    grid-template-columns: 20% auto 20%;
    width: 100%;
}

