.layout-check-list{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "Checklist Index";
    gap: 10px;
    width: 100%;
    height: 100%;
}

.checklist{
    grid-area: Checklist;   
    overflow-y: scroll;
}

.index{
    grid-area: Index;

}