@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400&display=swap');
        
body{
    font-family: 'Krub', sans-serif;
}



.shadow-element {

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.256);

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
