<nav class="bg-[#6E00FA] h-full text-white">
    <ul class="list-none px-6 gap-20 flex h-[70px] items-center ">
        <li>
            <img height="4" src="assets/logo.svg">
        </li>
        <li class="flex">
            <jhotest-dropdown-project-navigation />
        </li>
        <li class="w-full flex justify-end pr-48">
            <input class="border-[#E5E4E4] p-1 px-2 w-64 border focus:outline-none bg-transparent"
                placeholder="Buscar..." type="search">
        </li>
    </ul>
</nav>