<ul class="flex w-full justify-between items-center list-none">
    <li>
        <h3>
            <span>Checklist/</span>
            <input 
            #nameipt 
            (focus)="nameipt.select()"
             class="w-fit focus:outline-none"
               [value]="name"
            (change)="title.emit(nameipt.value)"
               />
        </h3>
    </li>
    <li>

        <button (click)="action.emit('submit')"
            class="bg-blue-600 shadow-element w-[80px] h-[29px] text-white">
            {{contentbtn}}
        </button>

    </li>

</ul>