<ul class="flex w-full justify-between items-center list-none">
    <li class="w-full">
        <h3 class="w-full flex ">
            <span>Checklist/</span>
            <input 
            
            #nameipt 
            (focus)="nameipt.select()"
             class="w-full focus:outline-none"
               [value]="name"
            (change)="title.emit(nameipt.value)"
               />

               <jhotest-text-input />
        </h3>
    </li>
    <li>

        <button (click)="action.emit('submit')"
            class="bg-blue-600 shadow-element w-[80px] h-[29px] text-white">
            {{contentbtn}}
        </button>

    </li>

</ul>